.form-card-cont {
  background: #ffffff;
  box-shadow: 0px 4px 10px -5px rgb(0 0 0 / 25%);
  border-radius: 10px;
  padding: 3%;
  padding-left: 50px !important;
  padding-right: 50px !important;
  width: 98% !important;
  margin-top: 2% !important;
  margin: 1%;
}

/** Form 1 **/
.personal-info-header {
  font-family: "Montserrat-Regular";
  font-weight: 600;
  font-size: 30px;
  color: #45517d;
}

.personal-input-cont {
  margin-left: 5%;
}

.form-label {
  font-family: "Montserrat-Bold";
  font-size: 14px;
  color: #45517d;
}

.form-label-date-time {
  font-family: "Montserrat-Bold";
  font-size: 14px;
  color: #45517d;
}

.form-label-purpose {
  font-family: "Montserrat-Bold";
  font-size: 14px;
  color: #45517d;
}

.form-label-remarks-notes {
  font-family: "Montserrat-Bold";
  font-size: 14px;
  color: #45517d;
}

.form-input {
  background: #ffffff;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 5px;
  width: 100%;
}

.form-input-date-time {
  background: #ffffff;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 5px;
  width: 100%;
}

.form-input-category {
  background: #ffffff;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 5px;
  width: 100%;
}

.react-datetime-picker__wrapper {
  border: none !important;
}

.form-button-next {
  border: none;
  background: #3469e7;
  color: #ffffff;
  box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 13px;
  width: 7%;
  margin: 1%;
  margin-top: 3%;
  font-size: 14px;
}

.form-button-search {
  border: none;
  background: #3469e7;
  color: #ffffff;
  box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 10px;
  margin: 1%;
  margin-top: 4%;
  font-size: 14px;
}

.form-button-previous {
  border: none;
  background: #3abfe2;
  color: #ffffff;
  box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 13px;
  width: 7%;
  margin: 1%;
  margin-top: 3%;
  font-size: 14px;
}

.medical-form-card-cont {
  background: #ffffff;
  box-shadow: 0px 4px 10px -5px rgb(0 0 0 / 25%);
  border-radius: 10px;
  padding: 3%;
  padding-left: 50px !important;
  padding-right: 50px !important;
  width: 98% !important;
  margin-top: 2% !important;
  margin: 1%;
}

/** Form 2 **/
.medical-info-header {
  font-family: "Montserrat-Regular";
  font-weight: 600;
  font-size: 36px;
  color: #45517d;
  margin-bottom: 20px;
}

.medical-input-cont {
  margin-left: 5%;
}

.physician-label {
  font-family: "Montserrat-Bold";
  font-size: 24px;
  color: #45517d;
}

.medical-form-label {
  font-family: "Montserrat-Bold";
  font-size: 15px;
  color: #45517d;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.section-title {
  font-family: "Montserrat-Bold";
  font-size: 24px;
  color: #45517d;
}

.section-body {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

/* MOBILE */
@media (max-width: 767px) {
  .previous-physician-fields {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
}

/* TABLET */
@media (min-width: 768px) {
  .previous-physician-fields {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
}

/* DESKTOP */
@media (min-width: 1024px) {
  .previous-physician-fields {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
  }
}

.previous-physician-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.previous-physician-field-title {
  font-family: "Montserrat-Bold";
  font-size: 15px;
  color: #45517d;
}

.previous-physician-field-input {
  background: #ffffff;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 5px;
}

.question-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.question-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.question {
  font-family: "Montserrat-Bold";
  font-size: 15px;
  color: #45517d;
  width: 80%;
}

.choices {
  display: flex;
  gap: 30px;
}

.choice {
  display: flex;
  gap: 6px;
}

.choice .text {
  margin: 0;
  padding: 0;
  font-family: "Montserrat-Bold";
  font-size: 15px;
  color: #45517d;
  font-weight: bold;
}

.specific-details-section {
  background: #ffffff;
  border-radius: 6px;
}

.specific-details-section input {
  width: 100%;
  border-radius: 6px;
  padding: 5px;
  border: 2px solid #e5e5e5;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.button {
  border: none;
  color: #ffffff;
  box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-size: 14px;
  padding: 13px;
}

.button.next {
  background: #3469e7;
}

.button.back {
  background: #3abfe2;
}

input[type="radio"] {
  transform: scale(0.9);
  /* remove standard background appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom radiobutton appearance */
  display: grid;
  width: 25px;
  height: 25px;
  padding: 6px;
  /* background-color only for content */
  background-clip: content-box;
  border: 2px solid #45517d;
  border-radius: 50%;
  place-content: center;
  border: 3px solid #45517d;
  border-radius: 50%;
  background-clip: content-box;
  padding: 3px;
}

/* appearance for checked radiobutton */
input[type="radio"]:checked {
  background-color: #45517d;
}

/** Form 3 **/
.personal-info-header-medical-history {
  font-family: "Montserrat-Regular";
  font-weight: 600;
  font-size: 30px;
  color: #45517d;
}

.agreement-content {
  display: inline-block;
}

.agreement-cont {
  margin-top: 9%;
}

.margin-left-1 {
  margin-left: 1%;
}

.terms-label {
  text-decoration: underline;
  color: #3abfe2;
  cursor: pointer;
}

.sign-btn {
  border: none;
  background: #3469e7;
  color: #ffffff;
  box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 13px;
  width: 100%;
  margin: 1%;
  font-size: 14px;
}

.clear-btn {
  color: #ffffff !important;
}

.signature-img {
  margin-top: 5% !important;
  width: 10% !important;
  border: 2px solid #e5e5e5;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-left: 1.5%;
}

.signature-cont {
  border: 2px solid #e5e5e5;
}

.signature-label {
  margin-left: 1%;
  font-family: "Montserrat-Bold";
  font-size: 14px;
  color: #45517d;
}

/** Form 4 **/
.form-card-cont-form4 {
  background: #ffffff;
  box-shadow: 0px 4px 10px -5px rgb(0 0 0 / 25%);
  border-radius: 10px;
  padding: 5% !important;
  display: flex;
  flex-direction: column;
  /* padding: 3%; */
  /* padding-left: 50px !important; */
  /* padding-right: 50px !important; */
  /* width: 98% !important; */
  /* margin-top: 2% !important; */
  /* margin: 1%; */
}

.personal-info-header-appointment {
  font-family: "Montserrat-Regular";
  font-weight: 600;
  font-size: 30px;
  color: #45517d;
}

.notesNewPatient {
  background: #ffffff;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 8px;
  color: black;
  margin-left: 1.5% !important;
  width: 98% !important;
}

.category-input {
  padding: 2.3% !important;
}

.poweredby-text-form1 {
  text-align: center;
  color: grey;
  font-size: 12px;
}

.poweredby-logo {
  width: 12rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 400px) {
  .personal-info-header {
    text-align: center;
  }

  .medical-info-header {
    text-align: center;
  }

  .questions-1 {
    position: absolute;
    top: 60%;
    margin-left: 0%;
  }

  .response-yes-1 {
    position: absolute;
    top: 620px;
    margin-left: 20%;
  }

  .response-no-1 {
    position: absolute;
    top: 620px;
    margin-left: 50%;
  }

  .questions-2 {
    position: absolute;
    top: 68%;
    margin-left: 0%;
  }

  .response-yes-2 {
    position: absolute;
    top: 705px;
    margin-left: 20%;
  }

  .response-no-2 {
    position: absolute;
    top: 705px;
    margin-left: 50%;
  }

  .condTextInputCont-2 {
    width: 300px;
    margin-top: 80px;
  }

  .questions-3 {
    position: absolute;
    top: 80%;
    margin-left: 0%;
  }

  .response-yes-3 {
    position: absolute;
    top: 86%;
    margin-left: 20%;
  }

  .response-no-3 {
    position: absolute;
    top: 86%;
    margin-left: 50%;
  }

  .questions-4 {
    position: absolute;
    top: 90%;
    margin-left: 0%;
  }

  .response-yes-4 {
    position: absolute;
    top: 94%;
    margin-left: 20%;
  }

  .response-no-4 {
    position: absolute;
    top: 94%;
    margin-left: 50%;
  }

  .questions-5 {
    position: absolute;
    top: 98%;
    margin-left: 0%;
  }

  .response-yes-5 {
    position: absolute;
    top: 104%;
    margin-left: 20%;
  }

  .response-no-5 {
    position: absolute;
    top: 104%;
    margin-left: 50%;
  }

  .condTextInputCont-5 {
    width: 300px;
    margin-top: 134px;
  }

  .questions-6 {
    position: absolute;
    top: 112%;
    margin-left: 0%;
  }

  .response-yes-6 {
    position: absolute;
    top: 115%;
    margin-left: 20%;
  }

  .response-no-6 {
    position: absolute;
    top: 115%;
    margin-left: 50%;
  }

  .questions-7 {
    position: absolute;
    top: 118%;
    margin-left: 0%;
  }

  .response-yes-7 {
    position: absolute;
    top: 124%;
    margin-left: 20%;
  }

  .response-no-7 {
    position: absolute;
    top: 124%;
    margin-left: 50%;
  }

  .questions-8 {
    position: absolute;
    top: 128%;
    margin-left: 0%;
  }

  .response-yes-8 {
    position: absolute;
    top: 136%;
    margin-left: 20%;
  }

  .response-no-8 {
    position: absolute;
    top: 136%;
    margin-left: 50%;
  }

  .condTextInputCont-8 {
    width: 300px;
    margin-top: 120px;
    margin-bottom: 4%;
  }

  .form-button-next {
    width: 25%;
  }

  .form-button-previous {
    width: 25%;
  }

  .form-label-date-time {
    padding-bottom: 100%;
  }

  .form-input-date-time {
    width: 167%;
  }

  .notesNewPatient {
    width: 92% !important;
  }

  .personal-info-header-appointment {
    text-align: center;
  }

  .personal-info-header-medical-history {
    text-align: center;
  }

  .form-label-remarks-notes {
    padding-top: 20%;
    width: 120% !important;
  }

  .signature-img {
    width: 90% !important;
    margin-left: 5%;
  }
}

.add-appointment-section-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title {
  font-family: "Montserrat-Bold";
  font-size: 14px;
  color: #45517d;
}

.top-section-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.datetime-picker {
  background: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 6px;
  padding: 5px;
  width: 100%;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.purposes {
  background: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 6px;
  padding: 8px;
}

.bottom-section-inputs {
  display: flex;
}

textarea {
  background: #ffffff;
  border: 2px solid #e5e5e5;
  resize: none !important;
  border-radius: 8px;
  color: black;
  height: 100% !important;
}

.add-appointment-buttons {
  margin-top: 20px;
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}
