.book-header {
    font-family: 'Montserrat-Bold';
    font-size: 60px;
    margin-top: 20% !important;
    padding-left: 5% !important;
    color: #3469E7;
}

.book-subheader {
    font-family: 'Montserrat-Regular';
    font-weight: bold;
    font-size: 18px;
    padding-left: 5% !important;    
}

.book-appointment-pic {
    width: 95%;
}

.btn-part {
    width: 10% !important;
    margin-left: 0% !important;
    background-color: #2B4BAD;
    cursor: pointer;
}

.arrow-icon {
    width: 12px;
}

.submit-btn {
    font-size: 12px;
    font-family: 'Montserrat-Regular';
    font-weight: bold;
    border: none;
    /* background-color: #4168DF; */
    color: #FFFFFF;
    padding: 2%;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

.view-queue.submit-btn {
    display: inline-block;
    width: 53%;
    margin-left: 3%;
    margin-top: 5% !important;
}