.terms-of-service-header {
    font-weight: 600;
    color: #45517d;
}

.terms-of-service-body {
    color: #45517d;
    padding: 2%;
}

.terms-of-service-disclaimer {
    text-align: center;
    text-decoration: underline;
    padding: 1%;
    color: #3abfe2;
    font-style: italic;
    font-size: 17px;
}
.terms-of-service-closing {
    text-align: center;
    font-style: italic;
    font-size: 17px;
    color: #45517d;
    padding: 1%;
    padding-top: 2%;
}