.book-appointment-cont {
    padding-left: 7%;
    padding-right: 7%;
}

.peronal-info-header {
    font-family: 'Montserrat-Regular';
    font-weight: 600;
    font-size: 30px;
    color: #45517D;
}

.personal-input-cont {
    margin-left: 5%;
}

.form-label {
    font-family: 'Montserrat-Bold';
    font-size: 14px;
    color: #45517D;
}

.form-input {
    background: #FFFFFF;
    border: 2px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 5px;
    width: 100%;
}

.notes {
    background: #FFFFFF;
    border: 2px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
}

.remarks {
    background: #FFFFFF;
    border: 2px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
}

.react-datetime-picker__wrapper {
    border: none;
}

select {
    border: 2px solid #E5E5E5;
    border-radius: 6px;
    padding: 5px;
    height: fit-content;
    padding-right: 76%;
}

.appointment.submit-btn {
    width: 17%;
    margin-left: 83%;
    text-align: center;
    border-radius: 16px;
    padding: 1% !important;
}